langchain==0.2.14
langchain-community==0.2.12
chromadb==0.4.24
langchain_core
langchain_groq
langchain_huggingface
streamlit
python-dotenv 
unstructured
pydantic==1.10.13
sentence-transformers
beautifulsoup4
requests




