langchain==0.2.14
langchain-community==0.2.12
chromadb==0.4.24
langchain_core
langchain_groq
langchain_text_splitters
langchain_huggingface
langchain_classic
streamlit
python-dotenv 
unstructured
pydantic==1.10.13


